{% extends "_layout.html" %}

{% set title = 'Sing in' %}
{% set signup = true %}

{% block header %}
{% include "_header.html" %}
{% endblock %}

{% block content %}

<div class="content">
    <ul>
      <li><a href="SignIn">Sign in</a></li>
      <li><a href="Password-recovery">Password Recovery</a></li>
      <li><a href="Succses-password-recovery">Succses password recovery</a></li>
      <li><a href="Reset-password">Reset password</a></li>
      <li><a href="SignUp">Sign up</a></li>
      <li><a href="Complete">Sign up - Complete</a></li>
      <li><a href="Activate-message">Sign up - Active-message</a></li>
      <li><a href="Profile">Profile</a></li>
      <li><a href="Search">Search</a></li>
    </ul>
  </div>
{% endblock %}