{% extends "_layout.html" %}

{% set title = 'Password recovery - enter new password' %}
{% set signup = true %}

{% block header %}
{% include "_header.html" %}
{% endblock %}

{% block content %}
<main class="main">
    <section class="form-window">
        <h1 class="form-window__title">Enter your e-mail to reset your password</h1>
        <form action="">
            <input type="password" name="password" id="password" placeholder="New password">
            <input type="password" name="password" id="password" placeholder="Confirm password">
            <div class="button">
                <div class="button__wrap">
                    <button class="submit" type="submit">Reset</button>
                </div>
            </div>
        </form>
    </section>
</main>
{% endblock %}