{% extends "_layout.html" %}

{% set title = 'Sing up' %}

{% set login = true %}

{% block header %}
{% include "_header.html" %}
{% endblock %}

{% block content %}

    <main class="main">
        <section class="form-window">
            <h1 class="form-window__title">Sign up</h1>
            <form action="">
                <div class="input-wrap__row">
                    <input type="name" name="name" id="name" placeholder="Name">
                    <input type="last name" name="last name" id="last name" placeholder="Last Name">
                </div>
                <input type="username" name="username" id="username" placeholder="Username">
                <input type="email" name="email" id="email" placeholder="E-mail">
                <div class="button">
                    <div class="button__wrap">
                        <button class="submit" type="submit">Get started</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
{% endblock %}